.main_div {
  padding: 1%;
}

.my_row {
  // background-color: blanchedalmond;
  padding: 5px;
  border: solid 2px;
}

.my_col {
  // background-color: aliceblue;
  margin: 10px;
  padding: 2px;
}

.form {
  background-color: rgb(202, 244, 244);
  padding: 2%;
  border-radius: 10px;
}

#hh {
  text-align: center;
  width: 40%;
  border-radius: 5px;
  padding: 2px;
  background-color: white;
  // margin-left: 30%;
  margin: auto;
  margin-bottom: 15px;
} 

#multi {
  background-color: white;

}

#st {
  margin: auto;
  font-size: 25px;
  font-style: italic;
  color: rgb(212, 179, 137);
}