.nav-item {
  color: #F8F8F8;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  padding: .3rem;
  min-width: 8rem;
  margin-left: .5rem;

  &:hover {
    color: #7bbbfa;
  }

  &:focus {
    color: #F8F8F8;
  }
}