.nav-item {
  color: #F8F8F8;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  padding: .3rem;
  min-width: 8rem;
  margin-left: .5rem;

  &:hover {
    color: #7bbbfa;
  }

  &:focus {
    color: #F8F8F8;
  }
}

.leaflet-pane {
  z-index: -1 !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 102, 203);
}