.modal-content {
  border-radius: 24px;
  font-family: 'Comfortaa', cursive;
  padding: 1rem 2rem;
}

.modal-dialog {
  width: 20rem;
}

.title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.15em;
  margin: 0 0 1rem 1;
  text-align: center;
}

.input-elements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 12px;

  input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;

    &:focus,
    &:active {
      outline: none;
      border-bottom-width: 2px;
    }
  }

  button {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  .btn-forgot {
    align-self: flex-end;
    margin-top: -0.5rem;
  }

  .btn-submit {
    font-size: 1rem;
    margin-top: 1rem;
    width: fit-content;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 0.5rem 4rem;
  }

  .btn-switch-register {
    margin-top: -1.6rem;
    text-decoration: underline;
  }
}